<div class="add-or-edit">
    <div class="row">
        <div class="col-md-3">
            <label>Tên tòa nhà</label>
            <input type="text" value="" name="name" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Ghi chú</label>
            <input type="text" value="" name="node" class="form-control" />
            <div class="error"></div>
        </div>
        <div class="col-md-3">
            <label>Trạng thái</label>
            <select class="form-control status" value="0">
                <option value="0"> Đang hoạt động </option>
                <option value="1"> Ngừng  hoạt động </option>
            </select>
            <div class="error"></div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-createEdit">Thêm mới</button>
    <button class="btn-update btn btn-success">Cập nhật</button>
</div>



