<br />
<hr />
<div class="add-or-edit">
    <div class="row">
        <div class="col-md-3">
            <label>Name</label>
            <input type="text" name="Name" value="" class="form-control" />
            <div class="error text-danger"></div>
        </div>

        <div class="col-md-3">
            <label>Node</label>
            <input type="text" name="Node" value="" class="form-control" />
            <div class="error text-danger"></div>
        </div>

        
        <div class="col-md-3">

            <label>Status</label>
            <select class="form-control status" value="0">
                <option value="0">Đang giảng dạy</option>
                <option value="1">Ngừng giảng dạy </option>
            </select>
            <div class="error text-danger"></div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary btn-create">Thêm mới</button>
    <button class="btn btn-success btn-update"> Cập nhập </button>
</div>